# Visual Studio 2015/2017 cache/options directory
.vs/

# JetBrains Rider
.idea/
# PyStreets renders
renders/*.png


# PyStreets backups
/backup/

# osm-xml files
*.osm
!test.osm

# for directory structure
!*/.keep
/persistent files/
# logs
*.log

# bytecode
__pycache__/
osmdata.pyc
persistence.pyc
settings.pyc
simulation.pyc
street_network.pyc
tripgenerator.pyc
